# Logs do sistema e do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configurações de editores e IDEs (VS Code, WebStorm, etc)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos temporários de sistema operacional
.DS_Store
Thumbs.db